@import 'bootstrap';
@import 'bootstrap/responsive';
@import 'components/utils';
@import '..//modules/font-awesome/font-awesome';
@import '..//modules/jCarousel/skin.css';
@import 'sprites';

html, body, .wrap {
  min-height: 100%;
  height: 100%;
}
body {
  font-family: "Times New Roman", times, serif;
  font-size: 16px;

  background: url('../img/top-plate-bg.png') top center repeat-x;

  &.micro {
    background: none;
  }
  .wrap {
    &.micro {
      background: none;
      padding-top: 200px;
    }
    background: url('../img/top-plate.png') top center no-repeat;
  }
}

#header {
  margin: 0 0 30px;
  &.micro {
    height: 128px;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #fff;
    margin: 0 -15px 0 2px;

    .logo {
      img {
        display: none;
      }
      background: url('../img/mini-logo.png') no-repeat 40px top;
      height: 44px;
      margin: 14px 0 0 0;
    }
    .lang-selecter,
    .auth {
      margin: 30px 0 30px 0;
    }
    .lang-selecter ul {
      margin-top: 0;
    }
    .menu .shadow {
      //display: none;
    }

    .menu ul ul {
      background: #fff;
      margin: 0 -20px;
      padding: 10px 0 5px;

      //.box-shadow(0 3px 10px rgba(0,0,0, 0.3));
      li {
        font-size: 15px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -57px;
        background: url('../img/menu-shadow.png') no-repeat top center;
        position: absolute;
        height: 57px;
        width: 100%;
      }
    }
  }
}


.logo {
  margin: 35px 0 28px;
}

.lang-selecter {
  ul {
    list-style: none;
    margin: 63px 0 0; padding: 0;
    font-variant: small-caps;
    font-size: 14px;

    li {
      margin: 0; padding: 0;
      .dib();
      .tac();
      line-height: 22px;
      width: 63px;


      &.active {
        background: url('../img/lang-active.png') no-repeat;
        color: #fff;

        span {

        }
      }
    }
  }
}

.auth {
  position: relative;
  margin: 63px 0 0;
  color: #a0a0a0;

  a.reg {
    text-decoration: none;
    border-bottom: 1px solid #1a6192;
    a:hover {
      border-bottom: 1px solid #1a6192;
    }
  }
}

.auth-popover {
  position: absolute;
  right: 0;
  width: 300px;
  top: -20px;

  &__inner {
    width: 300px;
    height: 190px;
    position: relative;
    z-index: 10;
    background: url('../img/login-plate.png') no-repeat left top;

    h3 {
      margin: 0;
      padding: 10px 0 0 0;
      font-size: 26px;
      text-align: left;
    }

    .form-horizontal {
      margin: 10px;
    }
    .control-group {
      //padding-left: 70px;
      margin: 0 0 5px 0;
      .control-label {
        width: 70px;
        font-variant: small-caps;
      }
      .controls {
        margin-left: 80px;
        text-align: left;

        input[type="text"],
        input[type="password"],
        input[type="email"] {
          padding: 2px 6px;
          line-height: 18px;
          width: 170px;
          border: 1px solid #a7a7a7;
          #gradient > .vertical(#dadada, #fcfcfc);
          font-size: 15px;
          font-family: "Times Ney Roman", times;
        }
      }
      .controls > .radio:first-child, .controls > .checkbox:first-child {
        padding-top: 0;
      }
    }
    .remember-me {
      position: relative;
      top: -5px;
    }
    .close {
      background: url('../img/icon-close.png') no-repeat left top;
      width: 25px;
      height: 25px;
      .dib();
      .opacity(70);
    }
  }
  .shadow {
    width: 300px;
    height: 25px;
    position: absolute;
    z-index: 0;
    bottom: -15px;
    background: url('../img/auth-shadow.png') top center;
  }
}

.menu {
  background: url('../img/menu-bg.png') no-repeat left top;

  &__inner {
    background: url('../img/menu-bg.png') no-repeat right bottom;
    height: 48px;
    margin-left: 10px;
    position: relative;


    ul {
      position: relative;
      list-style: none;
      margin: 0 30px 0 20px;
      padding: 0;
      height: 48px;
      font-variant: small-caps;

      li {
        .dib;
        line-height: 48px;
        font-size: 19px;

        a {
          color: #ececec;
          text-shadow: 0 1px 2px #3f0f15;
          border-bottom: 1px solid #90404b;
          text-decoration: none;

          &:hover {
            color: darken(#ececec, 10%);
            border-bottom: 1px solid darken(#90404b, 5%);
            text-decoration: none;
          }
        }
        &.active {
          &>* {
            color: #b99a9d;
            border: none;
          }
        }
        ul {
          position: absolute;
          left: 0;
          padding: 20px 0 0;
          height: auto;
          line-height: 28px;
          font-variant: normal;
          z-index: 100;

          li {
            margin-right: 30px;
            line-height: 25px;

            a {
              color: @black;
              text-shadow: none;
              text-decoration: none;
              border-bottom-color: lighten(@black, 60%);

              &:hover {
                color: lighten(@black, 40%);
                border-bottom-color: lighten(@black, 80%);
              }
            }
          }
        }
      }
    }

    .shadow {
      background: url('../img/menu-shadow.png') no-repeat top center;
      position: absolute;
      height: 57px;
      width: 100%;
    }
  }
}


.promo-block {
  margin: 45px 0 30px;
  &__inner {
    position: relative;

    .img-mask {
      width: 935px;
      height: 551px;

      &.mask-dark {
        .mask-shadow { background: url('../img/afisha-mask-dark.png') no-repeat center center; }
        .order-link {
          background: url('../img/afisha-orderlink-dark.png') no-repeat;
          a { color: #fff; } } }

      &.mask-light {
        .mask-shadow { background: url('../img/afisha-mask-light.png') no-repeat center center; }
        .order-link {
          background: url('../img/afisha-orderlink-light.png') no-repeat;
          a { color: #1e1e1e; } } }

      .mask-overflow,
      .mask-shadow {
        width: 935px;
        height: 551px;
        position: absolute;
      }
      .mask-overflow {
        background: url('../img/afisha-img-mask.png') no-repeat center center;
      }
      &__inner {

        .order-link {
          width: 166px;
          height: 41px;
          line-height: 41px;
          position: absolute;
          right: 62px;
          top: 60px;
          a {
            font-size: 16px;
            margin: 0 0 0 44px;
          }
        }
      }
    }
    .shadow {
      background: url('../img/afisha-shadow.png') no-repeat top center;
      position: absolute;
      width: 935px;
      height: 91px;
      bottom: -74px;
      z-index: -1;
    }
    .next,
    .prev {
      position: absolute;
      margin: 210px 0 0;
      width: 100px;
      line-height: 14px;
      font-family: Arial, sans-serif;

      .circle {
        display: block;
        height: 100px;
        width: 100px;
        .border-radius(100px);
        background: #f4f4f4;
        text-align: center;
        line-height: 90px;
        .sprites-arrow-right { margin-right: -5px; }
        .sprites-arrow-left { margin-left: -5px; }
      }
    }
    .prev { left: -132px; }
    .next { right: -132px; }
  }
}


.afisha-today {
  margin: 0 0 40px 0;
  padding: 0 0 0 5px;

  &__inner {
    ul {
      list-style: none;
      margin: 0; padding: 0;
      font-size: 0;
      li {
        font-size: 16px;
        display: inline-block;
        width: 23.5%;
        margin-right: 2%;
        &:last-child { margin-right: 0; }

        h3 {
          font-variant: small-caps;
          font-weight: normal;
          margin: 0;
          padding: 0;
          font-size: 28px;

          a {
            text-decoration: none;
            border-bottom: 1px solid lighten(@linkColor, 40%);
          }
        }

        small {
          top: -5px;
          position: relative;
        }

        hr {
          margin: 8px 0;
          width: 50%;
          border-top-color: #e5e5e5;
        }
      }
      &.items-1,
      &.items-2 {
        li {
          width: 47%;
          margin-right: 3%;
          .img {
            float: left;
            margin-right: 10px;
          }
          hr.w45 {
            width: 25%;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &.items-3 {
        margin-left: 65px;
        li {
          width: 23.5%;
          margin-right: 9%;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.afisha-close {
  margin: 0 0 40px;
  &__inner {
    ul {
      list-style: none;
      margin: 0; padding: 0;
      font-size: 0;
      li {
        font-size: 16px;
        display: inline-block;
        width: 14%;
        margin-right: 3.2%;
        vertical-align: top;
        &:last-child {
          margin-right: 0%;
        }
      }
    }
  }
}

.news {
  &__inner {
    dt {
      font-weight: normal;
    }
  }
}

.our_project {
  background-repeat: no-repeat;
  background-position: left top;
  width: 140px;
  height: 70px;
  .dib();

  &:hover {
    background-position: left bottom;
  }
}
.our_project-1 { background-image: url('../img/project-item-1.png'); }
.our_project-2 { background-image: url('../img/project-item-2.png'); }
.our_project-3 { background-image: url('../img/project-item-3.png'); }


.repertoire {
  margin-bottom: 40px;
  position: relative;

  .next,
  .prev {
    position: absolute;
    margin: 100px 0 0;
    .opacity(90);

    .circle {
      background: #f4f4f4;
      width: 50px;
      height: 50px;
      .dib();
      line-height: 50px;
      .border-radius(30px);
    }
    &:hover {
      .opacity(100);
    }
    &.passive {
      .opacity(40);
      &:hover {
        .opacity(40);
        cursor: default;
      }
    }
  }
  .next { right: -66px; }
  .prev { left: -66px; }

  &__inner {
    height: 270px;
    overflow: hidden;
    position: relative;

    a.img {
      text-decoration: none;
    }
    ul {
      list-style: none;
      margin: 0; padding: 0;

      height: 270px;
      margin-bottom: 30px;
      position: absolute;
      list-style: none;
      width: 20000em;

      li {
        margin: 0; padding: 0;
        float: left;
        margin-right: 15px;
        margin-bottom: 30px;
      }
    }
  }
}

.calendar {
  border: 2px solid #1a6192;
  border-radius: 3px;
  .box-shadow(0 5px 30px rgba(20, 24, 73, .75));
  position: absolute;
  background: #fff;
  z-index: 100;

  &__inner {

  }
  &__header {
    color: #fff;
    .small-caps;
    background: #1a6192;
    height: 62px;
    padding-top: 38px;

    .current {
      position: relative;
      top: -0px;
      font-size: 45px;
    }

    a {
      color: #fff;
    }
    .monthes {
      float: left;
      font-size: 35px;
    }
    .close {
      left: auto;
      top: auto;
      font-weight: normal;
      .opacity(100);
      text-shadow: none;
    }
  }
  &__body {
    padding: 60px 35px;
    font-size: 11px;
    line-height: 14px;

    table {
      width: 100%;

      td {
        width: 14.28%;
        padding-bottom: 15px;
        strong {
          font-size: 12px;
          display: block;
          margin-bottom: 3px;
        }
        &.last {
          color: #848484;
          a {
            color: #848484;
          }
        }
        .events {
          margin-right: 5px;

          &__item {
            padding-left: 24px;
            margin-bottom: 8px;
            position: relative;
            .time {
              float: left;
              .dib();
              margin-left: -24px;
              sup {
                font-size: 9px;
                margin-left: -3px;
                position: relative;
              }
            }
            a {
              position: relative;
              display: block;
              .small-caps;
              overflow: hidden;
              width: 90px;
              max-height: 30px;
              &:after {
                content: '';
                width: 24px;
                height: 100%;

                background: rgba(255,255,255,0);
                background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

                //background: red;
                bottom: 0;
                right: 0;
                position: absolute;
              }
            }
            em {
              color: #666;
              .dib();
            }
          }
        }
      }
    }
  }
}

.index {
  h1 {
    font-size: 60px;
    color: #616161;
    font-weight: normal;
    font-variant: small-caps;
    margin: 0 0 40px 0;
  }
}
h1 {
  font-size: 48px;
  color: #830414;
  font-weight: normal;
  font-variant: small-caps;
  margin: 0 0 40px 0;
  small {
    color: #615f5f;
    font-style: italic;
    font-variant: unicase;
  }
}
h2 {
  font-size: 45px;
  color: #616161;
  font-weight: normal;
  font-variant: small-caps;
  margin: 0 0 20px 0;
}
h3 {
  font-size: 28px;
  color: #616161;
  font-weight: normal;
  font-variant: small-caps;
  margin: 0 0 20px 0;
}

h1 a, h2 a {
  color: #616161;
  text-decoration: none;
  border-bottom: 1px solid lighten(#616161, 40%);
  &:hover {
    text-decoration: none;
  }
}

.premier {
  border-radius: 3px;
  border: 1px solid #a7a7a7;
  height: 35px;
  line-height: 35px;
  .dib();
  margin: 0 15px 0 0;
  padding: 0 10px;
}

.tabs {
  margin-left: -8px;

  ul {
    margin: 0; padding: 0;
    list-style: none;
    font-size: 0;

    li {
      margin: 0; padding: 0;
      background: url('../img/tab-plate.png') no-repeat top center;
      height: 52px;
      line-height: 48px;
      .small-caps;
      font-size: 16px;
      color: #000;
      .dib;
      padding: 0 18px;
      text-shadow: 0 1px 1px #fff;
      cursor: pointer;

      &:first-child { background-position: top left; padding-left: 22px; }
      &:last-child { background-position: bottom right; padding-right: 22px; }
      a {
        color: #000;
        text-decoration: none;
        border-bottom: 1px dashed #000;
      }

      &.active {
        background: url('../img/tab-plate-active.png') no-repeat top center;
        text-shadow: 0 1px 1px #000;
        position: relative;

        &::before {
          content: '';
          height: 39px;
          width: 0px;
          left: 0;
          position: absolute;
          top: 4px;
          border-left: 1px solid #dfdfdf;
          border-right: 1px solid #444444;
        }
        &::after {
          content: '';
          height: 39px;
          width: 0px;
          right: 0;
          position: absolute;
          top: 4px;
          border-left: 1px solid #444444;
          border-right: 1px solid #dfdfdf;
        }

        &:first-child { background-position: top left; &::before {display: none;} }
        &:last-child { background-position: bottom right; &::after {display: none;} }

        a {
          color: #fff;
          border: none;
        }
      }
    }
  }
}
.panel {
  & > div {
    display: none;
  }
}

.item-gallery {
  padding: 0 0 40px;
  margin-bottom: 30px;
  background: url('../img/gallery-shadow.png') no-repeat center bottom;

  &__inner {
    position: relative;
    overflow: hidden;
    height: 370px;

    ul {
      position: absolute;
      list-style: none;
      margin: 0; padding: 0;
      left: 0;

      li {
        float: left;
        margin: 0 15px 0 0;
        padding: 0;
        height: 370px;

        img {
          margin-bottom: 10px;
          display: block;
        }
        div {
          .dib;
          width: 60%;
          margin-left: 20%;
          font-size: 12px;
          line-height: 15px;
          .arial;
          color: #9d9d9d;
        }
      }
    }
  }
  .scroller {
    margin: 0 240px;
    position: relative;
    height: 40px;

    &__inner {
      height: 2px;
      background: #cacaca;
      position: relative;
      top: 15px;
    }
    .bullet {
      .dib;
      z-index: 10;
      cursor: pointer;
      margin: 0 -20px;
      position: absolute;
      background: url('../img/toggle.png') no-repeat left top;
      height: 40px;
      width: 40px;
      left: 0;
    }
  }
}


#footer {
  padding: 40px 0 0 0;
  .footer__inner {
    .footer__logo {
      position: relative;
      padding: 0 0 10px;
      margin-bottom: 60px;
      border-bottom: 1px solid #e5e5e5;

      .sitemap-link {
        .caret {
          margin: 8px 0 0 ;
          border-top-color: @grayLight;
        }
      }
      .sprites-bottom-logo {
        position: absolute;
        margin-top: -26px;
        left: 50%;
        width: 173px;
        height: 91px;
        margin-left: -86px;
        background-color: #fff;
        background-position: 5px -218px;
        padding: 5px;
      }
    }

    .bottom-menu {
      margin-bottom: 40px;

      h4 {
        font-weight: normal;
        font-size: 18px;
        font-variant: small-caps;
        padding: 4px 12px;
        background: #e8eef2;
        margin-left: -12px;
        display: inline-block;

        a {
          color: @black;
          text-decoration: none;
          border-bottom: none;
        }
      }
      ul {
        margin: 0; padding: 0;
        list-style: none;

        li {
          margin: 0; padding: 0;

          font-size: 13px;
          .arial();

          a {

          }
        }
      }
    }
    .contact-block {
      .copy {
        font-weight: bold;
        margin-left: -15px;
      }
    }
    .social-contacts {
      margin-left: 8px;
      a {
        margin-right: 5px;
      }
      .small-caps {
        position: relative;
        .dib();
        margin: 5px 0 0 3px;
      }
    }
    .developer-copy {
      bottom: -20px;
      position: relative;

      .sprites();
      .sprites-bottom-copy-plate();
      .arial();
      .fz12;
      color: #b8b8b8;

      &__inner {
        margin: 20px 0 24px 20px;
        line-height: 16px;

        a {
          color: #bcc8d3;

        }
      }
    }
  }
}

.comment-item {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.btn-muzkom {
  .border-radius(20px);
  color: #dcd9d9;
  .buttonBackground(#a72839, #7b1b26);
  text-shadow: 0 1px 1px #3f0f15;
  font-variant: small-caps;
  text-decoration: none;
  border: none;
  padding: 7px 20px;

  .box-shadow(none);
}
.btn-login {
  height: 27px;
  width: 96px;
  padding: 0 0;
  background: url('../img/button-mini.png') no-repeat;
  border: none;
  color: #383838;
  font-size: 15px;
  font-family: "Times Ney Roman", times;
  .box-shadow(none);

  &:hover {
    background: url('../img/button-mini.png') no-repeat;
    .box-shadow(none);
  }
}
.btn-inner-order {
  background: url('../img/button-middle.png') no-repeat;
  width: 144px;
  height: 37px;
  line-height: 35px;
  padding: 0 0;
  border: none;
  color: #383838;
  font-size: 14px;
  font-family: "Times Ney Roman", times;
  .box-shadow(none);
  border: none;
  text-decoration: none;
  margin: 0 0 0 -7px;

  &:hover {
    background: url('../img/button-middle.png') no-repeat;
    .box-shadow(none);
  }
  span {
    line-height: 14px;
    .dib;
    margin: 8px 0 0;
    border-bottom: 1px solid #aaa;
  }
}

.red {color: @errorText;}