<a href="#" class="img">
    <img src="holder.js/220x315" alt="" class="beveled">
</a>
<h3>
    <a href="#">Принцесса цирка</a>
</h3>
<small class="fz12 grayLight arial">оперетта в 3-х актах главная сцена</small>

<hr class="w45">

<div class="time grayLight fz16 mb10">
    <i class="icon-time "></i> c 16:00 по 21:00
</div>

<div class="desc fz14 mb10">
    «В Париже все хотят быть актерами. Участь зрителя никого не устраивает», — изрек когда-то «принц поэтов» Жан Кокто. В свете этой цитаты название «Роман с Парижем» для спектакля, венчающего юбилейный, тридцать
    <a href="#" class="td-dotted">полный текст</a>
</div>

<small class="arial fz12 grayLight">Осталось 24 места</small><br>

<a class="btn btn-muzkom" href="#">
    <i class="sprites-icon-cart"></i> Заказать билет
</a>