// РАЗМЕРЫ ШРИЫТОВ v1.2

[class*="fz1"],
[class*="fz2"],
[class*="fz3"] {
  line-height:1.33em;
  .lh-mini  {  line-height:1.2em;}
  .lh-small  {  line-height:1.3em;}
  .lh-large  {  line-height:1.5em;}
}

.fz10 { font-size: 10px;}
.fz11 { font-size: 11px;}
.fz12 { font-size: 12px;}
.fz13 { font-size: 13px;}
.fz14 { font-size: 14px;}
.fz15 { font-size: 15px;}
.fz16 { font-size: 16px;}
.fz17 { font-size: 17px;}
.fz18 { font-size: 18px;}
.fz19 { font-size: 19px;}
.fz20 { font-size: 20px;}
.fz21 { font-size: 21px;}
.fz22 { font-size: 22px;}
.fz23 { font-size: 23px;}
.fz24 { font-size: 24px;}
.fz25 { font-size: 25px;}
.fz26 { font-size: 26px;}

.small-caps {font-variant: small-caps;}
.italic {font-style: italic;}
.normal {font-weight: normal; font-style: normal; }