// фреймворк v1.0

// примеси
@import 'mixins';
@import 'shadow';

// набоны дефолтных значений для использования в html
@import 'set-margins-and-padding';
@import 'set-colors';
@import 'set-of-properties';
@import 'set-font-size';

// создание элементов
@import 'arrow';
@import 'cube';

// доп фунциональность элементов
@import 'link';
@import 'form-full';
@import 'table';

//убераем пунктир вокруг сылок
.btn:focus,
a:focus,
button:focus{
  outline:none;
}

.arial { font-family: Arial, sans-serif; }
.times { font-family: "Times New Roman", times, serif; }