<!DOCTYPE html>
<html>
<head>
    <title>главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--  откомпиленый LESS  -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen">

    <link rel="stylesheet" type="text/css" href="/static/css/other.css" media="screen">
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div id="header" class="">
                <div class="row">
                    <div class="span3">
                        <div class="lang-selecter">
                            <ul>
                                <li class="active"><span>Русский</span></li>
                                <li class=""><a href="#">English</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="logo tac">
                            <img src="/static/img/logo.png" alt="Свердловский государственный академический Театр Музыкальной Комедии">
                        </div>
                    </div>
                    <div class="span3">
                        {% block auth %}
                        <div class="auth tar">
                            <div class="auth-popover" style="display: none" id="login-box">
                                <div class="auth-popover__inner">
                                    <a href="#" class="close pull-right mt20 mr20"></a>
                                    <h3 class="ml90">Авторизация</h3>

                                    <form class="form-horizontal">
                                      <div class="control-group">
                                        <label class="control-label tal" for="inputEmail">Эл. почта:</label>
                                        <div class="controls">
                                          <input type="text" id="inputEmail" placeholder="имя@домен.ru">
                                        </div>
                                      </div>
                                      <div class="control-group">
                                        <label class="control-label tal" for="inputPassword">Пароль:</label>
                                        <div class="controls">
                                          <input type="password" id="inputPassword" placeholder="Пароль">
                                        </div>
                                      </div>
                                      <div class="control-group remember-me">
                                        <div class="controls">
                                          <label class="checkbox">
                                            <input type="checkbox"> Запомнить меня
                                          </label>
                                          <button type="submit" class="btn btn-login">Войти</button>
                                        </div>
                                      </div>
                                    </form>
                                </div>
                                <div class="shadow"></div>
                            </div>


                            <a href="#" class="td-dashed" id="login-button">Вход</a> |
                            <a href="#" class="reg">Регистрация</a>
                        </div>
                        {% endblock %}
                    </div>
                </div>

                <div class="menu">
                    <div class="menu__inner">

                        <ul class="taj">
                            <li><a href="#">Афиша</a></li>
                            <li {% block submenu_classes %}{% endblock %}><a href="#">Репертуар</a>{% block submenu %}{% endblock %}</li>
                            <li><a href="#">О театре</a></li>
                            <li><a href="#">Актёрское кафе</a></li>
                            <li><a href="#">Пресс-центр</a></li>
                            <li><a href="#">Гостевая книга</a></li>
                            <li><a href="#">Музей</a></li>
                            <li><a href="#">Купить билеты</a></li>
                        </ul>

                        <div class="shadow"></div>
                    </div>
                </div>
            </div>

            {% block container %}
            <div id="content">
                <div class="row">
                    <div class="span12">
                    {% block content %}

                    {% endblock %}
                    </div>
                </div>
            </div>
            {% endblock %}

            <div id="footer">
                <div class="footer__inner">
                    <div class="footer__logo">
                        <span class="sitemap-link grayLight fz18 small-caps">
                            Карта сайта <i class="caret"></i>
                        </span>
                        <span class="sprites-bottom-logo"></span>
                    </div>
                    <div class="row bottom-menu">
                        <div class="span3">
                            <h4><a href="#">Репертуар</a></h4>
                            <ul>
                                <li><a href="#">Афиша</a></li>
                                <li><a href="#">Оперетта</a></li>
                                <li><a href="#">Музыкальная комедия</a></li>
                                <li><a href="#">Маленьким зрителям</a></li>
                                <li><a href="#">Данс-спектакли</a></li>
                                <li><a href="#">Проекты</a></li>
                                <li><a href="#">Гастроли</a></li>
                                <li><a href="#">Готовится к постановке</a></li>
                            </ul>
                        </div>
                        <div class="span3">
                            <h4><a href="#">О театре</a></h4>
                            <ul>
                                <li><a href="#">Администрация</a></li>
                                <li><a href="#">Миссия</a></li>
                                <li><a href="#">Паспорт театра</a></li>
                                <li><a href="#">Официальные документы</a></li>
                            </ul>
                        </div>
                        <div class="span3">
                            <h4><a href="#">Актерское фойе</a></h4>
                            <ul>
                                <li><a href="#">Солисты</a></li>
                                <li><a href="#">Балет</a></li>
                                <li><a href="#">Оркестр</a></li>
                                <li><a href="#">Хор</a></li>
                                <li><a href="#">Детская студия</a></li>
                                <li><a href="#">Изумруд</a></li>
                                <li><a href="#">Балет смирнова</a></li>
                            </ul>
                        </div>
                        <div class="span3">
                            <h4><a href="#">Музей</a></h4>
                            <ul>
                                <li><a href="#">Актеры</a></li>
                                <li><a href="#">Спектакли</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb20">
                        <div class="span5">
                            <div class="contact-block">
                                <span class="copy">© 2013</span> <br>
                                <span class="fz13">Свердловский государственный академический</span><br>
                                <span class="small-caps fz17">Театр Музыкальной Комедии</span>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="phone fz26">+7 (343) 253-62-39</div>
                            <div class="fz12 grayLight">
                                620051 г. Екатеринбург, пр. Ленина, 47<br>
                                e-mail: <a href="#">teatr@muzkom.net</a><br>
                                <a href="#" class="arial">Контакты</a>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="social-contacts">
                                <a href="#" class="sprites-icon-vk"></a>
                                <a href="#" class="sprites-icon-facebook"></a>
                                <span class="small-caps fz13">В социальных сетях</span>
                            </div>
                            <div class="developer-copy">
                                <div class="developer-copy__inner">
                                    Разработка сайта — <a href="http://dias.ru/">Диас</a><br/>
                                    Дизайн сайта — <a href="http://www.signception.ru/">Signception</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://yandex.st/jquery/1.8.3/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="/static/lib/jquery-1.8.3.js"><\/script>');</script>

    <script src="/static/js/bootstrap/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap/bootstrap-typeahead.js"></script>

    <!-- Прочее -->
    <script src="/static/lib/jquery.mousewheel.js"></script>
    <script src="/static/lib/mwheelIntent.js"></script>
    <script src="/static/lib/holder.js"></script>

    <script src="/static/modules/jCarousel/jquery.jcarousel.js"></script>

    <script src="/static/js/project.js"></script>
</body>
</html>