{% extends '__base.html' %}
{% block content %}
<div class="index">
    <div class="promo-block">
        <div class="promo-block__inner">

            <div class="next tac">
                <a href="#" class="circle"><i class="sprites-arrow-right"></i></a>
                <span class="fz11 grayLight">AMORE BUFFO</span>
            </div>
            <div class="prev tac">
                <a href="#" class="circle"><i class="sprites-arrow-left"></i></a>
                <span class="fz11 grayLight">Пастиччо для влюбленных</span>
            </div>

            <div class="img-mask mask-light">
                <!--
                    Для темных картинок используется класс
                    mask-dark

                    Для светлых
                    mask-light

                    Эти классы влияют на цвет маски, которая накладывается поверх картинки
                -->
                <div class="img-mask__inner">
                    <div class="mask-overflow"><div class="mask-shadow"></div></div>


                    <div class="order-link">
                        <a href="#">Заказать билет</a>
                    </div>
                    <a href="#"><img src="holder.js/935x551" alt=""></a>
                </div>
            </div>
            <div class="shadow"></div>

        </div>
    </div>

    <!-- Не выводить, если показывается один спектакль<h1 class="tac">Сегодня на сцене:</h1> -->

    <div class="afisha-today">
        <div class="afisha-today__inner">
            <!-- Для 1-х спектаклей -->
            <ul class="items-1">
                <li>
                    <h1 class="tac">Сегодня:</h1>
                    {% include 'blocks/today_item.html' %}
                </li>
                <li>
                    <h1 class="tac">Завтра:</h1>
                    {% include 'blocks/today_item.html' %}
                </li>
            </ul>

            <!-- Для 2-х спектаклей -->
            <!-- ul class="items-2">
                {% for i in range(2) %}
                <li>
                    {% include 'blocks/today_item.html' %}
                </li>
                {% endfor %}
            </ul -->

            <!-- Для 3-х спектаклей -->
            <!-- ul class="items-3">
                {% for i in range(3) %}
                <li class="">
                    {% include 'blocks/today_item.html' %}
                </li>
                {% endfor %}
            </ul -->

            <!-- Для 4-х спектаклей -->
            <!-- ul>
                {% for i in range(4) %}
                <li>
                    {% include 'blocks/today_item.html' %}
                </li>
                {% endfor %}
            </ul -->
        </div>
    </div>

    <div class="calendar" id="calendar" style="display: none;">
        <div class="calendar__inner">

            <div class="calendar__header">
                <div class="monthes ml80">
                    <a href="#" class="td-dashed mr70">март</a>
                    <span class="current mr70">Апрель</span>
                    <a href="#" class="td-dashed">май</a>
                </div>
                <a class="pull-right mr80 td-dashed fz20" href="#" id="calendar-close">Закрыть</a>
            </div>
            <div class="calendar__body">

                <table>
                    <tbody>
                        <tr>
                            <td class="last">&nbsp;</td>
                            {% for i in range(6) %}
                            <td class="last">
                                <strong>1, вторник</strong>
                                <div class="events">
                                    <div class="events__item">
                                        <span class="time">19 <sup>00</sup></span><a href="#" data-toggle="tooltip" title="first tooltip">Екатеринаwefewfwefwefwef Великаяerg</a>
                                        <em>основная сцена</em>
                                    </div>
                                    <div class="events__item">
                                        <span class="time">19 <sup>00</sup></span><a href="#" data-toggle="tooltip" title="first tooltip">Екатерина Великая Екатерина Великая</a>
                                        <em>основная сцена</em>
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for i in range(2) %}
                            <td class="last">
                                <strong>1, вторник</strong>
                                <div class="events">
                                    <div class="events__item">
                                        <span class="time">19 <sup>00</sup></span><a href="#" data-title="Екатерина Великая">Екатеринаwefwefqwdqwd Великая Екатерина Великая</a>
                                        <em>основная сцена</em>
                                    </div>
                                    <div class="events__item">
                                        <span class="time">19 <sup>00</sup></span><a href="#" data-title="Екатерина Великая">Екатерина</a>
                                        <em>основная сцена</em>
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                            {% for i in range(5) %}
                            <td>
                                <strong>1, вторник</strong>
                                <div class="events">
                                    <div class="events__item">
                                        <span class="time">19 <sup>00</sup></span><a href="#" data-toggle="tooltip" title="first tooltip">Екатерина Великая Екатерина Великая Екатерина Великая</a>
                                        <em>основная сцена</em>
                                    </div>
                                    <div class="events__item">
                                        <span class="time">19 <sup>00</sup></span><a href="#" data-toggle="tooltip" title="first tooltip">Екатерина Великаяerg</a>
                                        <em>основная сцена</em>
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>

                        {% for i in range(3) %}
                        <tr>
                            {% for i in range(7) %}
                            <td>
                                <strong>1, вторник</strong>
                                <div class="events">
                                    <div class="events__item">
                                        <span class="time">19 <sup>00</sup></span><a href="#" data-toggle="tooltip" title="first tooltip">Екатерина Великаяerg</a>
                                        <em>основная сцена</em>
                                    </div>
                                    <div class="events__item">
                                        <span class="time">19 <sup>00</sup></span><a href="#" data-toggle="tooltip" title="first tooltip">Екатерина</a>
                                        <em>основная сцена</em>
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1">

            <a href="#" class="td-box-dashed pull-right mt10" id="calendar-link">
                <i class="sprites-icon-calendar"></i> <span>Календарь мероприятий</span>
            </a>
            <h2>Ближайшие постановки</h2>

            <div class="afisha-close">
                <div class="afisha-close__inner">
                    <ul>
                        <li>
                            <div class="tac fz15 mb5">
                                <strong>13 апреля</strong><br>
                                суббота
                            </div>
                            <a href="#">
                                <img src="holder.js/101x145" alt="" class="beveled">
                            </a>
                            <a href="#" class="small-caps black fz13">Роман с парижем Роман с парижем Роман с парижем Роман с парижем</a>

                        </li>
                        {% for i in range(5) %}
                        <li>
                            <div class="tac fz15 mb5">
                                <strong>13 апреля</strong><br>
                                суббота
                            </div>
                            <a href="#">
                                <img src="holder.js/101x145" alt="" class="beveled">
                            </a>
                            <a href="#" class="small-caps black fz13">Роман с парижем</a>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="row-fluid mb40">
        <div class="span5 offset1">
            <h2>
                <a href="#">Новости</a>
            </h2>

            <div class="news">
                <div class="news__inner">
                    <dl>
                        <dt class="fz18 small-caps"><a href="#">Перенесена премьера «Обыкновенного чуда»</a></dt>
                        <dd class="fz14 ml0 mb20">Премьера мюзикла Г. Гладкова «Обыкновенное чудо» перенесена на 27 и 28 июня. Масштаб проекта растёт, а вместе с ним – и объём подготовительной работы</dd>

                        <dt class="fz18 small-caps"><a href="#">Музкомедия на «Коляда-Plays»</a></dt>
                        <dd class="fz14 ml0 mb20">В списке участников фестиваля – спектакли нашего театра: бурлеск «Чирик кердык ку-ку» (по мотивам пьесы Николая Коляды «Баба Шанель») и фантазия «Роман с Парижем»</dd>

                        <dt class="fz18 small-caps"><a href="#">Отличникам сценической службы</a></dt>
                        <dd class="fz14 ml0 mb20">Для работников «творческих цехов» была учреждена ежегодная именная стипендия имени Нины Александровны Энгель-Утиной, народной артистки, легенды Свердловской музкомедии</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="span5 ">
            <h2>Наши проекты</h2>

            <div class="our-projects">
                <div class="our-projects__inner">
                    <div class="row-fluid mb20">
                        <div class="span5">
                            <a href="#" class="our_project our_project-1"></a>
                        </div>
                        <div class="span7">
                            <a href="#" class="fz16 small-caps">
                                Международный фестиваль
                                мировой музыки<br>
                                <span class="fz24">«Изумрудный Город»</span>

                            </a>
                        </div>
                    </div>
                    <div class="row-fluid mb20">
                        <div class="span5">
                            <a href="#" class="our_project our_project-2"></a>
                        </div>
                        <div class="span7">
                            <a href="#" class="fz16 small-caps">
                                Международном конкурс
                                молодых артистов
                                оперетты и мюзикла<br>
                                <span class="fz24">им. В.А.Курочкина</span>

                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <a href="#" class="our_project our_project-3"></a>
                        </div>
                        <div class="span7">
                            <a href="#" class="fz16 small-caps">
                                Международный фестиваль современного танца<br>
                                <span class="fz24">«На Грани»</span>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class='tac'><a href="#">Репертуар</a></h2>
        <div class="repertoire">

            <div class="next tac ">
                <a href="#" class="circle"><i class="sprites-arrow-blue-right"></i></a>
            </div>
            <div class="prev tac passive">
                <a href="#" class="circle"><i class="sprites-arrow-blue-left"></i></a>
            </div>

            <div class="repertoire__inner">
                <ul class="">
                    {% for i in range(12) %}
                    <li style="width: 145px">
                        <a href="#" class="img"><img src="holder.js/140x220" alt="" class="beveled"></a>
                        <br>

                        <a href="#" class="fz16 small-caps black">Мертвые души Мертвые души</a><br>
                        <span class="grayLight fz12">гоголь-моголь в 2-х актах</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}