{% extends '__base.html' %}

{% block auth %}
<div class="auth tar">
    <div class="black small-caps">
        <p class="bold mb5"><strong>Здравствуйте, Сергей</strong></p>
        <a href="#">Настройки</a> | <span class="red"><i class="icon-external-link fz12"></i> <a href="#" class="red">Выход</a></span>
    </div>
</div>
{% endblock %}

{% block content %}
    <h1 class="mb0 tac">
        <span class="premier grayLight small-caps fz18">
            <i class="sprites-icon-star"></i> Премьера
        </span>
        «Герцогиня из Чикаго»
    </h1>
    <h3 class="tac mb0">Оперетта в 2-х действиях</h3>
    <h3 class="italic tac mb0 grayLight">
        новая сцена, <i class="sprites-icon-premier mt10"></i> мировая премьера состоялась 24 мая 2013
    </h3>
    <p class="tac fz14 grayLight">
        Оригинальное либретто<br>
        Юлиуса Браммера и Альфреда Грюнвальда,<br>
        русская версия диалогов и поэтических текстов<br>
        Аркадия Застырца
    </p>
    <div class="mb20"></div>

    <div class="row-fluid mb20">
        <div class="span8">
            <img src="holder.js/610x390" class="beveled">
        </div>
        <div class="span4">
            <p class="fz18">
                в 2-х действиях<br>
                продолжительность: 2 часа 15 минут
            </p>

            <dl class="fz18">
                <dt class="grayLight normal">режиссер-постановщик</dt>
                <dd class="ml0 mb15">КИРИЛЛ СТРЕЖНЕВ</dd>

                <dt class="grayLight normal">дирижер-постановщик</dt>
                <dd class="ml0 mb15">ВЛАДИМИР ВИШНЕВСКИЙ</dd>

                <dt class="grayLight normal">художник-постановщик</dt>
                <dd class="ml0 mb15">СЕРГЕЙ АЛЕКСАНДРОВ</dd>

                <dt class="grayLight normal">балетмейстер-постановщик</dt>
                <dd class="ml0 mb15">СЕРГЕЙ СМИРНОВ</dd>

                <dt class="grayLight normal">художник по костюмам</dt>
                <dd class="ml0 mb15">НАТАЛЬЯ ЕРМОЛАЕВА</dd>

                <dt class="grayLight normal">хормейстер</dt>
                <dd class="ml0 mb15">СВЕТЛАНА АСУЕВА</dd>
            </dl>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="tabs mb20">
                <ul>
                    <li class="active"><a href="#tab-1">Действующие лица и исполнители</a></li>
                    <li><a href="#tab-2">Пресса о спектакле</a></li>
                </ul>
            </div>
            <div class="panel">
                <div id="tab-1" class="tab-content">
                    <dl class="dl-horizontal">
                    {% for i in range(3) %}
                        <dt class="small-caps grayLight normal">Иван Абрамович Парк</dt>
                        <dd class="mb20">
                            <a href="#">Владимир Смолин</a><br>
                            <a href="#">Иван Филоненко</a><br>
                        </dd>

                        <dt class="small-caps grayLight normal">Тоня</dt>
                        <dd class="mb20">
                            <a href="#">Светлана Кадочникова</a><br>
                            <a href="#">Татьяна Холопова</a><br>
                        </dd>

                        <dt class="small-caps grayLight normal">Вася</dt>
                        <dd class="mb20">
                            <a href="#">Александр Копылов</a><br>
                            <a href="#">Александр Мезюха</a><br>
                        </dd>

                        <dt class="small-caps grayLight normal">Яков Разливанский</dt>
                        <dd class="mb20">
                            <a href="#">Николай Капленко</a><br>
                            <a href="#">Павел Дралов</a><br>
                        </dd>
                    {% endfor %}
                    </dl>
                </div>
                <div id="tab-2" class="tab-content">
                    {% for i in range(8) %}
                    <div class="mb20">
                        <a href="#" class="fz18 small-caps">Театр музкомедии приедет в Тюмень на гастроли</a>
                        <p class="mb5">С 17 по 30 сентября на сцене Тюменского драматического театра гастролеры дадут в общей сложности 14 представлений разных жанров</p>
                        <span class="arial fz12 grayLight">1 сентября 2010, Nashgorod.ru</span>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="span6">
            <h2>О спектакле</h2>

            <p>Проект вне привычного формата, вне классических жанровых традиций. Продолжая экспериментировать над созданием актуального репертуара, Театр задумал спектакль, созвучный сегодняшнему дню, наполненный молодой энергетикой, по-современному жесткий и максимально честный.</p>
            <p>Работа над мюзиклом в тесном содружестве с композитором Александром Пантыкиным и поэтом Константином Рубинским длилась 23 месяца. История рождалась непросто: возникали и исчезали герои, менялись перипетии сюжета. Параллельно шел «закрытый» кастинг исполнителей - замысел требовал, чтобы возраст артистов был максимально близок к возрасту их персонажей. Героями спектакля должны были стать выпускники средней школы — ребята «поколения next», их родители и педагоги. В результате сложился молодой ансамбль, где практически каждая роль «выписана» в расчете на индивидуальность исполнителя. Условия сценической игры определены как «здесь, сегодня и сейчас». Но парадоксальность идеи в том, что совсем не сиюминутные атрибуты современности оказались «в фокусе» внимания. Авторы оставляют за собой право надеяться: зрителей переживания за судьбы героев увлекут неизмеримо больше, чем «фишки» сегодняшнего дня.</p>
            <p>Мисс Мэри Ллойд решила купить настоящего европейского принца – «сертифицированного наследника престола». Странная затея – даже для дочки миллиардера! Но лучше не сопротивляться, пока эта экстравагантная особа не вздумала купить Тауэр или Эйфелеву башню…</p>
            <p>Тем более, что принц неравнодушен к мисс Ллойд… Правда, он ужасно старомоден и не желает танцевать ее любимый чарльстон. И живет далековато от Чикаго. Но папины миллионы помогут Мэри сделаться герцогиней и превратить захолустную европейскую страну почти в Чикаго! Все пойдет как по маслу! Если принц не узнает, что интерес Мэри – это часть пари с подругами по нью-йоркскому Клубу молодых эксцентричных леди...</p>
        </div>
    </div>

    <div class="row-fluid mb30">
        <div class="span10 offset1">
            <h2>Ближайшие постановки</h2>

            <div class="row-fluid">
                <div class="span3">
                    <strong class="fz20">22 сентября,</strong><br>
                    <span class="grayLight">воскресенье, <i class="icon-time"></i> 18:30</span>

                    <div class="mb15"></div>

                    <a href="#" class="btn btn-inner-order">
                        <i class="sprites-icon-cart-dark"></i> <span>Заказать билет</span>
                    </a>
                </div>
                <div class="span3">
                    <strong class="fz20">22 сентября,</strong><br>
                    <span class="grayLight">воскресенье, <i class="icon-time"></i> 18:30</span>

                    <div class="mb15"></div>

                    <a href="#" class="btn btn-inner-order">
                        <i class="sprites-icon-cart-dark"></i> <span>Заказать билет</span>
                    </a>
                </div>
                <div class="span3">
                    <strong class="fz20">22 сентября,</strong><br>
                    <span class="grayLight">воскресенье, <i class="icon-time"></i> 18:30</span>

                    <div class="mb15"></div>

                    <a href="#" class="btn btn-inner-order">
                        <i class="sprites-icon-cart-dark"></i> <span>Заказать билет</span>
                    </a>
                </div>
                <div class="span3">
                    <strong class="fz20">22 сентября,</strong><br>
                    <span class="grayLight">воскресенье, <i class="icon-time"></i> 18:30</span>

                    <div class="mb15"></div>

                    <a href="#" class="btn btn-inner-order">
                        <i class="sprites-icon-cart-dark"></i> <span>Заказать билет</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="item-gallery">
        <div class="item-gallery__inner">

            <ul>
                <li class="dib">
                    <img src="holder.js/484x310" class="beveled">
                    <div class="tac">
                         Вальс. (Виталий Мишарин и артисты эксцентрик балета Сергея Смирнова)
                    </div>
                </li>
                <li class="dib">
                    <img src="holder.js/400x310" class="beveled">
                    <div class="tac">
                        Лора и Семен<br>
                        (Светлана Кочанова и Владимир Смолин)
                    </div>
                </li>
                <li class="dib">
                    <img src="holder.js/200x310" class="beveled">
                    <div class="tac">
                        Яков Разливанский<br>
                        (Павел Дралов)
                    </div>
                </li>
                <li class="dib">
                    <img src="holder.js/400x310" class="beveled">
                    <div class="tac">
                        «Лимончики» (Павел Дралов и артисты «Эксцентрик-балета Сергея Смирнова»)
                    </div>
                </li>
                <li class="dib">
                    <img src="holder.js/400x310" class="beveled">
                    <div class="tac">
                        Лора и Семен<br>
                        (Светлана Кочанова и Владимир Смолин)
                    </div>
                </li>
                <li class="dib">
                    <img src="holder.js/200x310" class="beveled">
                    <div class="tac">
                         Яков Разливанский<br>
                        (Павел Дралов)
                    </div>
                </li>
                <li class="dib">
                    <img src="holder.js/400x310" class="beveled">
                    <div class="tac">
                         «Лимончики» (Павел Дралов и артисты «Эксцентрик-балета Сергея Смирнова»)
                    </div>
                </li>
            </ul>

        </div>

        <div class="scroller">
            <span class="bullet"></span>
            <div class="scroller__inner"></div>
        </div>

    </div>


    <div class="row-fluid">
        <div class="span7 offset1">

            <h2>Комментарии к спектаклю</h2>


            <div class="comment-item arial fz12">
                <a href="#" class="black">Тамара Ермошина</a> <span class="grayLight">Вчера в 8:12</span>
                <p class="times fz16">
                    Очень приятное впечатление от его жены, такая милая симпатичная женщина! Дай Бог им долгую счастливую жизнь!!!! И сынок, тьфу-тьфу-тьфу, ладненький)))))
                </p>
                <a href="#">Ответить</a> | <a href="#" class="grayLight">Цитировать</a>
            </div>
            <div class="comment-item arial fz12 ml40">
                <a href="#" class="black">Адольф Адольфович</a> <span class="grayLight">Вчера в 8:22</span>
                <p class="times fz16">
                    Лизнула и радуйся.Конфет им побольше
                </p>
                <a href="#">Ответить</a> | <a href="#" class="grayLight">Цитировать</a>
            </div>

            <div class="mb30"></div>

            <form action="#" class="form-vertical_full">
                <div class="control-group">
                  <div class="controls">
                    <input type="text" id="inputWarning" placeholder="Ваше имя">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <textarea rows="4" placeholder="Введите текст комментария"></textarea>
                  </div>
                </div>
            </form>

            <div class="mb20">
                <img src="/static/img/captcha.png" alt="captcha">
            </div>

            <button class="btn btn-inner-order" type="submit">Комментировать</button>
        </div>
    </div>

{% endblock %}