{% extends '__base.html' %}
{% block submenu_classes %}class="active"{% endblock %}
{% block submenu %}
<ul>
    <li><a href="#">Премьеры сезона</a></li>
    <li><a href="#">Классика оперетты</a></li>
    <li><a href="#">Мюзиклы</a></li>
    <li><a href="#">Спектакли российских авторов</a></li>
    <li><a href="#">Маленьким зрителям</a></li>
    <li><a href="#">Актуально</a></li>
    <li><a href="#">Днас-спектакли</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span10 offset1">
        <h1 class="tac">
            Главный заголовок<br>
            <small>Подзаголовок</small>
        </h1>

        <h2>Заголовок второго уровня</h2>

        <p>
            Проект вне привычного формата, вне классических жанровых традиций.
            Продолжая экспериментировать над созданием актуального репертуара,
            Театр задумал спектакль, созвучный сегодняшнему дню, наполненный молодой энергетикой, по-современному жесткий и максимально честный.
        </p>

        <div class="row-fluid mb40 mt20">
            <div class="span7 offset1">
                <img src="holder.js/460x300" class="beveled">
            </div>
            <div class="span3 ">
                <p class="mt100 fz18 italic">
                    Подпись к фоторгафии.На скамейке
                    (Артисты «Эксцентрик-балета Сергея Смирнова»)
                </p>
            </div>
        </div>

        <p>
            Работа над мюзиклом в тесном содружестве с композитором Александром Пантыкиным и поэтом Константином Рубинским длилась 23 месяца. История рождалась непросто: возникали и исчезали герои, менялись перипетии сюжета. Параллельно шел «закрытый» кастинг исполнителей - замысел требовал, чтобы возраст артистов был максимально близок к возрасту их персонажей. Героями спектакля должны были стать выпускники средней школы — ребята «поколения next», их родители и педагоги. В результате сложился молодой ансамбль, где практически каждая роль «выписана» в расчете на индивидуальность исполнителя. Условия сценической игры определены как «здесь, сегодня и сейчас». Но парадоксальность идеи в том, что совсем не сиюминутные атрибуты современности оказались «в фокусе» внимания. Авторы оставляют за собой право надеяться: зрителей переживания за судьбы героев увлекут неизмеримо больше, чем «фишки» сегодняшнего дня.
        </p>
        <p>
            Два мира, две реальности в пространстве спектакля сплетаются в прочную «силиконовую сеть» вокруг главных героев. Но есть ли в «виртуальности» место настоящей любви? Возможно ли чувства измерить в мегабайтах? Существуют ли на самом деле «герои нашего времени»? И кто они: живые настоящие люди или всего лишь «виртуальные призраки»?..
        </p>

        <h2>Заголовок второго уровня</h2>

        {% for i in range(5) %}
        <div class="list-element">
            <h3 class="mb0">
                <a href="#">Азербайджан живет во мне!</a>
            </h3>
            <small class="arial fz14 grayLight">07.06.2013 — Вугар Иманов, Trend Life</small>

            <p class="mt10">
                Глубокий психологизм и достоверность отличают лучшие работы этого мастера оперетты, умело владеющего всеми секретами театральной сцены. Яркие роли - мистер Икс, граф Данило, Диоген, Сандор, Фери, Эдвин, Раджами, Генрих Айзинштейн, Пали Рач, Шарль Фавар, граф Орловский, герцог Бекингем , граф Калиостро, барон де Кревельяк ...это лишь немногие из героев, которых он воплотил в театре...
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}