.sliderbar,
.noUiSlider {
	width:					400px;
	border:					1px solid #d8d8d8;
	height:					8px;
	border-radius:			5px;
	background:				#f0f0f0;
}

.noUi_handle    			{
	height:					8px;
	width:					8px;
}

.noUi-midBar {
	height:					14px;
}

.noUi-midBar {
    position: relative;
    top: -3px;
	background:				url('../../img/slider-target.png') repeat-x bottom left;
}

.noUi_sliderKnob,
.noUi-handle > div {
	z-index: 				5;
	width:					9px;
	height:					29px;
	position:				absolute;
	top:					-3px;
	left:					-5px;
	background:				url('../../img/slider-target.png') no-repeat left top;
	cursor: pointer;
}

.noUi_sliderKnob:hover,
.noUi_activeHandle		{
}